:root { 
--white_A700_90:#ffffff90; 
--light_blue_600:#0898e7; 
--deep_purple_400:#6f51c1; 
--deep_purple_700:#4030b2; 
--deep_purple_600:#5242c1; 
--amber_A200:#ffcc40; 
--gray_50:#f0faff; 
--pink_A400_90:#ef017890; 
--pink_A401:#df006b; 
--black_900:#000000; 
--deep_purple_600_1a:#5243c21a; 
--pink_A400:#ef0178; 
--black_900_63:#0a080663; 
--gray_900_a2:#1d1b1ba2; 
--bluegray_800_90:#343d4890; 
--deep_orange_300:#ff9066; 
--pink_200:#f496d1; 
--orange_A201:#f6973f; 
--pink_200_63:#f396d163; 
--orange_A200:#f5963e; 
--gray_901:#0f2136; 
--gray_902:#0c111f; 
--white_A700_a2:#ffffffa2; 
--gray_900:#1d1b1b; 
--cyan_400_7f:#25d9d97f; 
--gray_200:#e7e7e7; 
--gray_101:#f5f5f5; 
--white_A700_61:#ffffff61; 
--gray_100:#f7f7f7; 
--bluegray_900:#221c4e; 
--black_900_75:#00000075; 
--white_A700_63:#ffffff63; 
--deep_orange_300_7f:#ff90667f; 
--light_blue_600_7f:#0898e77f; 
--bluegray_400:#838099; 
--gray_900_b2:#1d1b1bb2; 
--amber_A200_7f:#ffcc407f; 
--deep_purple_600_4b:#5243c24b; 
--white_A700:#ffffff; 
--gray_900_90:#1d1b1b90; 
--cyan_400:#25d9d9; 
--gray_900_91:#0c111f90; 
}